REACT_APP_isDebugging= '1 or O, if need to watch applied console logs.    
REACT_APP_RETURN_URL='provide your return url set in your auth0 application'
REACT_APP_SERVER_URL=''
REACT_APP_AUTH0_DOMAIN='your auth 0 domain'
REACT_APP_AUTH0_CLIENT_ID="your auth 0 client id"