:root {
  --blueVeryLight: #d5e7f4;
  --greenLight: rgba(4, 77, 28, 1);
  --greenLight-trans: rgba(4, 77, 28, 0.3);
  --greenLight-blur: rgba(4, 77, 28, 0.6);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}